* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: radial-gradient(red, #2c2727);
  font-size: 18px;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.responsive {
  display: none;
}

.not-responsive {
  height: 100%;
}

.not-responsive .hamburger-icon {
  position: fixed;
  right: 56px;
  top: 56px;
  width: 50px;
  height: 50px;
}

.not-responsive .hamburger-icon .active {
  color: #be0404;
}

.not-responsive .hamburger-icon label i {
  padding: 10px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  color: #be0404;
  font-size: 50px;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.not-responsive .hamburger-icon label i:hover {
  background-color: #8b8b8b;
}

.not-responsive .hamburger-icon label #show-btn {
  opacity: 1;
  visibility: visible;
}

.not-responsive .info-section {
  width: 35%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 70px;
}

.not-responsive .info-section .logo {
  border: 10px solid white;
  border-radius: 5px;
  width: 200px;
  height: 100px;
  color: white;
  text-align: center;
  font-size: 35px;
  font-weight: 500;
  font-family: sans-serif;
  letter-spacing: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.not-responsive .info-section .info-box {
  color: white;
  position: absolute;
  bottom: 90px;
  font-family: 'Montserrat', sans-serif;
}

.not-responsive .info-section .info-box h4 {
  font-size: 1.4rem;
  margin: 0.7rem 0;
}

.not-responsive .info-section .info-box p {
  font-weight: 300;
  font-size: 1.2rem;
  margin: 0.2rem 0 1.6rem;
}

.not-responsive .info-section .info-box .icon-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.not-responsive .info-section .info-box .icon-section a {
  color: white;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

.not-responsive .info-section .info-box .icon-section a i {
  font-size: 35px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.not-responsive .info-section .info-box .icon-section a i:hover {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.not-responsive .content-area {
  margin-left: 35%;
  width: 65%;
  height: 100%;
  padding: 0 0 0 20%;
  background: white;
}

.not-responsive .content-area .image-container {
  display: inline-block;
  width: 28.5%;
  position: absolute;
  left: 23%;
  top: 75px;
  bottom: 75px;
}

.not-responsive .content-area .image-container .user-image {
  background-image: url(/homepage/images/cinese.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100%;
  height: 100%;
}

.not-responsive .content-area .profile-section {
  max-width: 500px;
}

.not-responsive .content-area .profile-section .profile {
  padding-top: 30%;
}

.not-responsive .content-area .profile-section .profile h1 {
  font-size: 2.5rem;
  font-family: 'Poppins', sans-serif;
  line-height: 2.3rem;
  margin-bottom: 30px;
}

.not-responsive .content-area .profile-section .profile h1 span {
  color: #be0404;
  font-size: 2.5rem;
}

.not-responsive .content-area .profile-section .profile h5 {
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.not-responsive .content-area .profile-section .profile p {
  color: black;
  font-weight: 500;
  line-height: 1.4;
  font-size: 1.3rem;
  margin-bottom: 35px;
  text-align: justify;
}

.not-responsive .content-area .profile-section .profile .center-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 500px;
}

.not-responsive .content-area .profile-section .profile .center-container .button {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 500px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-transform: uppercase;
}

.not-responsive .content-area .profile-section .profile .center-container .button .primary-btn {
  margin: 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #be0404;
  color: white;
  font-size: 1.5rem;
  border-radius: 80px;
  width: 230px;
  height: 50px;
  font-weight: 600;
  letter-spacing: 2px;
  text-decoration: none;
}

.not-responsive .content-area .profile-section .profile .center-container .button .primary-btn:hover {
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.not-responsive .content-area .profile-section .profile .center-container .button .ghost-btn {
  margin: 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  color: black;
  font-size: 1.5rem;
  border-radius: 80px;
  width: 230px;
  height: 48px;
  border: 4px solid black;
  font-weight: 600;
  letter-spacing: 2px;
  text-decoration: none;
}

.not-responsive .content-area .profile-section .profile .center-container .button .ghost-btn:hover {
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.menu {
  position: fixed;
  z-index: 1;
  top: 0;
  bottom: 0;
  width: 100%;
  left: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #2c2727;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  overflow-y: auto;
}

.menu #remove-btn {
  padding: 10px;
  cursor: pointer;
  position: absolute;
  right: 56px;
  top: 56px;
  color: #be0404;
  font-size: 50px;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.menu #remove-btn:hover {
  background-color: #8b8b8b;
}

.menu .navlink {
  width: 100%;
  list-style: none;
  position: relative;
  text-align: center;
  color: white;
  text-decoration: none;
  font-size: 4vh;
  margin: 8vh 0 8vh 0;
  font-family: sans-serif;
}

.menu .navlink a {
  display: block;
  color: white;
  text-decoration: none;
}

.menu .navlink a::after,
.menu .navlink a::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background-color: white;
  display: block;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.6s ease-in;
  transition: all 0.6s ease-in;
}

.menu .navlink a::before {
  top: -50%;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.menu .navlink a::after {
  top: 150%;
  -webkit-transform-origin: right;
          transform-origin: right;
}

.menu .navlink:hover > a::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.menu .navlink:hover > a::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.slide {
  left: 0;
}

@media screen and (max-width: 576px) and (orientation: landscape) {
  .menu .navlink {
    font-size: 6.5vh;
  }
}

@media screen and (max-width: 576px) {
  body {
    background: white;
    overflow-y: scroll;
  }
  body .not-responsive {
    display: none;
  }
  body .menu {
    left: 0;
    top: -100%;
    bottom: 100%;
  }
  body .menu #remove-btn {
    display: none;
  }
  body .slide {
    top: 100px;
    bottom: 0;
  }
  body .responsive {
    display: block;
    height: 100%;
  }
  body .responsive header {
    background-color: #474747;
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    z-index: 30;
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  }
  body .responsive header .logo {
    margin-left: 15px;
    border: 5px solid white;
    border-radius: 5px;
    width: 140px;
    height: 70px;
    color: white;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    font-family: sans-serif;
    letter-spacing: 3px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .responsive header .hamburger-icon {
    height: 50px;
    width: 50px;
  }
  body .responsive header .hamburger-icon .active {
    color: #be0404;
  }
  body .responsive header .hamburger-icon label i {
    cursor: pointer;
    color: white;
    font-size: 40px;
    position: absolute;
    right: 15px;
    z-index: 30;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
  }
  body .responsive header .hamburger-icon label i:hover {
    color: #be0404;
  }
  body .responsive main {
    margin-top: 5vh;
    margin-bottom: 5vh;
    height: auto;
    width: 100%;
  }
  body .responsive main .content-area {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .responsive main .content-area .image-container {
    padding-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 200px;
    border-radius: 100%;
  }
  body .responsive main .content-area .image-container .user-image {
    background-image: url(/homepage/images/cinese.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    -o-object-fit: cover;
       object-fit: cover;
    background-position: center;
    width: 200px;
    height: 100%;
    border-radius: 100%;
  }
  body .responsive main .profile-section {
    padding: 20px;
  }
  body .responsive main .profile-section .profile h1 {
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Poppins', sans-serif;
    line-height: 2.3rem;
    margin-bottom: 30px;
  }
  body .responsive main .profile-section .profile h1 span {
    color: #be0404;
    font-size: 2.5rem;
  }
  body .responsive main .profile-section .profile h5 {
    font-size: 1.5rem;
    margin-bottom: 30px;
  }
  body .responsive main .profile-section .profile p {
    color: #1f1f1f;
    font-weight: 300;
    line-height: 1.4;
    font-size: 18px;
    margin-bottom: 35px;
    text-align: justify;
  }
  body .responsive main .profile-section .profile .center-container .button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    text-transform: uppercase;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  body .responsive main .profile-section .profile .center-container .button .primary-btn {
    margin: 35px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #be0404;
    color: white;
    font-size: 1.5rem;
    border-radius: 80px;
    width: 230px;
    height: 2.8rem;
    font-weight: 600;
    letter-spacing: 2px;
    text-decoration: none;
  }
  body .responsive main .profile-section .profile .center-container .button .primary-btn:hover {
    cursor: pointer;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  body .responsive main .profile-section .profile .center-container .button .ghost-btn {
    margin: 35px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: white;
    color: black;
    font-size: 1.5rem;
    border-radius: 80px;
    width: 230px;
    height: 48px;
    border: 4px solid black;
    font-weight: 600;
    letter-spacing: 2px;
    text-decoration: none;
  }
  body .responsive main .profile-section .profile .center-container .button .ghost-btn:hover {
    cursor: pointer;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  body .responsive footer {
    width: auto;
    background: #474747;
    height: auto;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  body .responsive footer span {
    font-size: 30px;
    display: block;
    text-align: center;
    padding-top: 30px;
    color: white;
    font-family: sans-serif;
    margin-top: 150px;
  }
  body .responsive footer .icon-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin: 25px;
  }
  body .responsive footer .icon-section i {
    font-size: 30px;
    color: white;
    border-radius: 100%;
    -webkit-transition: hover .2s ease-in-out;
    transition: hover .2s ease-in-out;
  }
  body .responsive footer .icon-section i:hover {
    color: #be0404;
  }
  body .responsive footer p {
    display: block;
    text-align: center;
    font-size: 15px;
    color: gray;
    padding: 10px;
    border-top: 1px solid rgba(202, 202, 202, 0.8);
  }
}

@media screen and (max-width: 768px) and (orientation: landscape) {
  .menu .navlink {
    font-size: 6.5vh;
  }
}

@media screen and (max-width: 768px) {
  body {
    background: white;
    overflow-y: scroll;
  }
  body .not-responsive {
    display: none;
  }
  body .menu {
    left: 0;
    top: -100%;
    bottom: 100%;
  }
  body .menu #remove-btn {
    display: none;
  }
  body .menu .navlink {
    margin: 5.5vh 0 5.5vh 0;
  }
  body .slide {
    top: 100px;
    bottom: 0;
  }
  body .responsive {
    display: block;
    height: 100%;
  }
  body .responsive header {
    background-color: #474747;
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    z-index: 30;
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  }
  body .responsive header .logo {
    margin-left: 15px;
    border: 5px solid white;
    border-radius: 5px;
    width: 140px;
    height: 70px;
    color: white;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    font-family: sans-serif;
    letter-spacing: 3px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .responsive header .hamburger-icon {
    height: 50px;
    width: 50px;
  }
  body .responsive header .hamburger-icon .active {
    color: #be0404;
  }
  body .responsive header .hamburger-icon label i {
    cursor: pointer;
    color: white;
    font-size: 40px;
    position: absolute;
    right: 15px;
    z-index: 30;
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
  }
  body .responsive header .hamburger-icon label i:hover {
    color: #be0404;
  }
  body .responsive main {
    margin-top: 5vh;
    margin-bottom: 5vh;
    height: auto;
    width: 100%;
  }
  body .responsive main .content-area {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .responsive main .content-area .image-container {
    padding-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 200px;
    border-radius: 100%;
  }
  body .responsive main .content-area .image-container .user-image {
    background-image: url(/homepage/images/cinese.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    -o-object-fit: cover;
       object-fit: cover;
    background-position: center;
    width: 200px;
    height: 100%;
    border-radius: 100%;
  }
  body .responsive main .profile-section {
    padding: 20px;
  }
  body .responsive main .profile-section .profile h1 {
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Poppins', sans-serif;
    line-height: 2.3rem;
    margin-bottom: 30px;
  }
  body .responsive main .profile-section .profile h1 span {
    color: #be0404;
    font-size: 2.5rem;
  }
  body .responsive main .profile-section .profile h5 {
    font-size: 1.5rem;
    margin-bottom: 30px;
  }
  body .responsive main .profile-section .profile p {
    color: #1f1f1f;
    font-weight: 300;
    line-height: 1.4;
    font-size: 18px;
    margin-bottom: 35px;
    text-align: justify;
  }
  body .responsive main .profile-section .profile .center-container .button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    text-transform: uppercase;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  body .responsive main .profile-section .profile .center-container .button .primary-btn {
    margin: 35px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #be0404;
    color: white;
    font-size: 1.5rem;
    border-radius: 80px;
    width: 230px;
    height: 2.8rem;
    font-weight: 600;
    letter-spacing: 2px;
    text-decoration: none;
  }
  body .responsive main .profile-section .profile .center-container .button .primary-btn:hover {
    cursor: pointer;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  body .responsive main .profile-section .profile .center-container .button .ghost-btn {
    margin: 35px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: white;
    color: black;
    font-size: 1.5rem;
    border-radius: 80px;
    width: 230px;
    height: 48px;
    border: 4px solid black;
    font-weight: 600;
    letter-spacing: 2px;
    text-decoration: none;
  }
  body .responsive main .profile-section .profile .center-container .button .ghost-btn:hover {
    cursor: pointer;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  body .responsive footer {
    width: auto;
    background: #474747;
    height: auto;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  body .responsive footer span {
    font-size: 30px;
    display: block;
    text-align: center;
    padding-top: 30px;
    color: white;
    font-family: sans-serif;
    font-weight: 600;
  }
  body .responsive footer .icon-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin: 25px;
  }
  body .responsive footer .icon-section i {
    font-size: 30px;
    color: white;
    border-radius: 100%;
    -webkit-transition: hover .2s ease-in-out;
    transition: hover .2s ease-in-out;
  }
  body .responsive footer .icon-section i:hover {
    color: #be0404;
  }
  body .responsive footer p {
    display: block;
    text-align: center;
    font-size: 15px;
    color: gray;
    padding: 10px;
    border-top: 1px solid rgba(202, 202, 202, 0.8);
  }
}

@media screen and (max-width: 992px) and (orientation: landscape) {
  .menu .navlink {
    font-size: 6.5vh;
  }
}

@media screen and (max-width: 992px) {
  body {
    background: white;
    overflow-y: scroll;
  }
  body .not-responsive {
    display: none;
  }
  body .menu {
    left: 0;
    top: -100%;
    bottom: 100%;
  }
  body .menu #remove-btn {
    display: none;
  }
  body .menu .navlink {
    margin: 5.5vh 0 5.5vh 0;
  }
  body .slide {
    top: 100px;
    bottom: 0;
  }
  body .responsive {
    display: block;
    height: 100%;
  }
  body .responsive header {
    background-color: #474747;
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    z-index: 30;
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  }
  body .responsive header .logo {
    margin-left: 15px;
    border: 5px solid white;
    border-radius: 5px;
    width: 140px;
    height: 70px;
    color: white;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    font-family: sans-serif;
    letter-spacing: 3px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .responsive header .hamburger-icon {
    height: 50px;
    width: 50px;
  }
  body .responsive header .hamburger-icon .active {
    color: #be0404;
  }
  body .responsive header .hamburger-icon label i {
    cursor: pointer;
    color: white;
    font-size: 40px;
    position: absolute;
    right: 15px;
    z-index: 30;
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
  }
  body .responsive header .hamburger-icon label i:hover {
    color: #be0404;
  }
  body .responsive main {
    margin-top: 5vh;
    margin-bottom: 5vh;
    height: auto;
    width: 100%;
  }
  body .responsive main .content-area {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .responsive main .content-area .image-container {
    padding-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 200px;
    border-radius: 100%;
  }
  body .responsive main .content-area .image-container .user-image {
    background-image: url(/homepage/images/cinese.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    -o-object-fit: cover;
       object-fit: cover;
    background-position: center;
    width: 200px;
    height: 100%;
    border-radius: 100%;
  }
  body .responsive main .profile-section {
    padding: 20px;
  }
  body .responsive main .profile-section .profile h1 {
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Poppins', sans-serif;
    line-height: 2.3rem;
    margin-bottom: 30px;
  }
  body .responsive main .profile-section .profile h1 span {
    color: #be0404;
    font-size: 2.5rem;
  }
  body .responsive main .profile-section .profile h5 {
    font-size: 1.5rem;
    margin-bottom: 30px;
  }
  body .responsive main .profile-section .profile p {
    color: #1f1f1f;
    font-weight: 300;
    line-height: 1.4;
    font-size: 18px;
    margin-bottom: 35px;
    text-align: justify;
  }
  body .responsive main .profile-section .profile .center-container .button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    text-transform: uppercase;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  body .responsive main .profile-section .profile .center-container .button .primary-btn {
    margin: 35px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #be0404;
    color: white;
    font-size: 1.5rem;
    border-radius: 80px;
    width: 230px;
    height: 2.8rem;
    font-weight: 600;
    letter-spacing: 2px;
    text-decoration: none;
  }
  body .responsive main .profile-section .profile .center-container .button .primary-btn:hover {
    cursor: pointer;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  body .responsive main .profile-section .profile .center-container .button .ghost-btn {
    margin: 35px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: white;
    color: black;
    font-size: 1.5rem;
    border-radius: 80px;
    width: 230px;
    height: 48px;
    border: 4px solid black;
    font-weight: 600;
    letter-spacing: 2px;
    text-decoration: none;
  }
  body .responsive main .profile-section .profile .center-container .button .ghost-btn:hover {
    cursor: pointer;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  body .responsive footer {
    width: auto;
    background: #474747;
    height: auto;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  body .responsive footer span {
    font-size: 30px;
    display: block;
    text-align: center;
    padding-top: 30px;
    color: white;
    font-family: sans-serif;
    font-weight: 600;
  }
  body .responsive footer .icon-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin: 25px;
  }
  body .responsive footer .icon-section i {
    font-size: 30px;
    color: white;
    border-radius: 100%;
    -webkit-transition: hover .2s ease-in-out;
    transition: hover .2s ease-in-out;
  }
  body .responsive footer .icon-section i:hover {
    color: #be0404;
  }
  body .responsive footer p {
    display: block;
    text-align: center;
    font-size: 15px;
    color: gray;
    padding: 10px;
    border-top: 1px solid rgba(202, 202, 202, 0.8);
  }
}

@media screen and (max-width: 1200px) and (orientation: landscape) {
  body {
    background: white;
    overflow-y: scroll;
  }
  body .not-responsive {
    display: none;
  }
  body .menu {
    left: 0;
    top: -100%;
    bottom: 100%;
  }
  body .menu #remove-btn {
    display: none;
  }
  body .menu .navlink {
    margin: 5.5vh 0 5.5vh 0;
  }
  body .slide {
    top: 100px;
    bottom: 0;
  }
  body .responsive {
    display: block;
    height: 100%;
  }
  body .responsive header {
    background-color: #474747;
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    z-index: 30;
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  }
  body .responsive header .logo {
    margin-left: 15px;
    border: 5px solid white;
    border-radius: 5px;
    width: 140px;
    height: 70px;
    color: white;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    font-family: sans-serif;
    letter-spacing: 3px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .responsive header .hamburger-icon {
    height: 50px;
    width: 50px;
  }
  body .responsive header .hamburger-icon .active {
    color: #be0404;
  }
  body .responsive header .hamburger-icon label i {
    cursor: pointer;
    color: white;
    font-size: 40px;
    position: absolute;
    right: 15px;
    z-index: 30;
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
  }
  body .responsive header .hamburger-icon label i:hover {
    color: #be0404;
  }
  body .responsive main {
    margin-top: 5vh;
    margin-bottom: 5vh;
    height: auto;
    width: 100%;
  }
  body .responsive main .content-area {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .responsive main .content-area .image-container {
    padding-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 200px;
    border-radius: 100%;
  }
  body .responsive main .content-area .image-container .user-image {
    background-image: url(/homepage/images/cinese.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    -o-object-fit: cover;
       object-fit: cover;
    background-position: center;
    width: 200px;
    height: 100%;
    border-radius: 100%;
  }
  body .responsive main .profile-section {
    padding: 20px;
  }
  body .responsive main .profile-section .profile h1 {
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Poppins', sans-serif;
    line-height: 2.3rem;
    margin-bottom: 30px;
  }
  body .responsive main .profile-section .profile h1 span {
    color: #be0404;
    font-size: 2.5rem;
  }
  body .responsive main .profile-section .profile h5 {
    font-size: 1.5rem;
    margin-bottom: 30px;
  }
  body .responsive main .profile-section .profile p {
    color: #1f1f1f;
    font-weight: 300;
    line-height: 1.4;
    font-size: 18px;
    margin-bottom: 35px;
    text-align: justify;
  }
  body .responsive main .profile-section .profile .center-container .button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    text-transform: uppercase;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  body .responsive main .profile-section .profile .center-container .button .primary-btn {
    margin: 35px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #be0404;
    color: white;
    font-size: 1.5rem;
    border-radius: 80px;
    width: 230px;
    height: 2.8rem;
    font-weight: 600;
    letter-spacing: 2px;
    text-decoration: none;
  }
  body .responsive main .profile-section .profile .center-container .button .primary-btn:hover {
    cursor: pointer;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  body .responsive main .profile-section .profile .center-container .button .ghost-btn {
    margin: 35px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: white;
    color: black;
    font-size: 1.5rem;
    border-radius: 80px;
    width: 230px;
    height: 48px;
    border: 4px solid black;
    font-weight: 600;
    letter-spacing: 2px;
    text-decoration: none;
  }
  body .responsive main .profile-section .profile .center-container .button .ghost-btn:hover {
    cursor: pointer;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  body .responsive footer {
    width: auto;
    background: #474747;
    height: auto;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  body .responsive footer span {
    font-size: 30px;
    display: block;
    text-align: center;
    padding-top: 30px;
    color: white;
    font-family: sans-serif;
    font-weight: 600;
  }
  body .responsive footer .icon-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin: 25px;
  }
  body .responsive footer .icon-section i {
    font-size: 30px;
    color: white;
    border-radius: 100%;
    -webkit-transition: hover .2s ease-in-out;
    transition: hover .2s ease-in-out;
  }
  body .responsive footer .icon-section i:hover {
    color: #be0404;
  }
  body .responsive footer p {
    display: block;
    text-align: center;
    font-size: 15px;
    color: gray;
    padding: 10px;
    border-top: 1px solid rgba(202, 202, 202, 0.8);
  }
}

@media screen and (max-width: 1200px) {
  body {
    background: white;
    overflow-y: scroll;
  }
  body .not-responsive {
    display: none;
  }
  body .menu {
    left: 0;
    top: -100%;
    bottom: 100%;
  }
  body .menu #remove-btn {
    display: none;
  }
  body .menu .navlink {
    margin: 5.5vh 0 5.5vh 0;
  }
  body .slide {
    top: 100px;
    bottom: 0;
  }
  body .responsive {
    display: block;
    height: 100%;
  }
  body .responsive header {
    background-color: #474747;
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    z-index: 30;
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  }
  body .responsive header .logo {
    margin-left: 15px;
    border: 5px solid white;
    border-radius: 5px;
    width: 140px;
    height: 70px;
    color: white;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    font-family: sans-serif;
    letter-spacing: 3px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .responsive header .hamburger-icon {
    height: 50px;
    width: 50px;
  }
  body .responsive header .hamburger-icon .active {
    color: #be0404;
  }
  body .responsive header .hamburger-icon label i {
    cursor: pointer;
    color: white;
    font-size: 40px;
    position: absolute;
    right: 15px;
    z-index: 30;
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
  }
  body .responsive header .hamburger-icon label i:hover {
    color: #be0404;
  }
  body .responsive main {
    margin-top: 5vh;
    margin-bottom: 5vh;
    height: auto;
    width: 100%;
  }
  body .responsive main .content-area {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .responsive main .content-area .image-container {
    padding-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 200px;
    border-radius: 100%;
  }
  body .responsive main .content-area .image-container .user-image {
    background-image: url(/homepage/images/cinese.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    -o-object-fit: cover;
       object-fit: cover;
    background-position: center;
    width: 200px;
    height: 100%;
    border-radius: 100%;
  }
  body .responsive main .profile-section {
    padding: 20px;
  }
  body .responsive main .profile-section .profile h1 {
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Poppins', sans-serif;
    line-height: 2.3rem;
    margin-bottom: 30px;
  }
  body .responsive main .profile-section .profile h1 span {
    color: #be0404;
    font-size: 2.5rem;
  }
  body .responsive main .profile-section .profile h5 {
    font-size: 1.5rem;
    margin-bottom: 30px;
  }
  body .responsive main .profile-section .profile p {
    color: #1f1f1f;
    font-weight: 300;
    line-height: 1.4;
    font-size: 18px;
    margin-bottom: 35px;
    text-align: justify;
  }
  body .responsive main .profile-section .profile .center-container .button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    text-transform: uppercase;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  body .responsive main .profile-section .profile .center-container .button .primary-btn {
    margin: 35px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #be0404;
    color: white;
    font-size: 1.5rem;
    border-radius: 80px;
    width: 230px;
    height: 2.8rem;
    font-weight: 600;
    letter-spacing: 2px;
    text-decoration: none;
  }
  body .responsive main .profile-section .profile .center-container .button .primary-btn:hover {
    cursor: pointer;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  body .responsive main .profile-section .profile .center-container .button .ghost-btn {
    margin: 35px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: white;
    color: black;
    font-size: 1.5rem;
    border-radius: 80px;
    width: 230px;
    height: 48px;
    border: 4px solid black;
    font-weight: 600;
    letter-spacing: 2px;
    text-decoration: none;
  }
  body .responsive main .profile-section .profile .center-container .button .ghost-btn:hover {
    cursor: pointer;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  body .responsive footer {
    width: auto;
    background: #474747;
    height: auto;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  body .responsive footer span {
    font-size: 30px;
    display: block;
    text-align: center;
    padding-top: 30px;
    color: white;
    font-family: sans-serif;
    font-weight: 600;
  }
  body .responsive footer .icon-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin: 25px;
  }
  body .responsive footer .icon-section i {
    font-size: 30px;
    color: white;
    border-radius: 100%;
    -webkit-transition: hover .2s ease-in-out;
    transition: hover .2s ease-in-out;
  }
  body .responsive footer .icon-section i:hover {
    color: #be0404;
  }
  body .responsive footer p {
    display: block;
    text-align: center;
    font-size: 15px;
    color: gray;
    padding: 10px;
    border-top: 1px solid rgba(202, 202, 202, 0.8);
  }
}

@media screen and (device-width: 2732px) and (device-height: 2048px) {
  body {
    background: white;
    overflow-y: scroll;
  }
  body .not-responsive {
    display: none;
  }
  body .menu {
    left: 0;
    top: -100%;
    bottom: 100%;
  }
  body .menu .navlink {
    margin: 5.5vh 0 5.5vh 0;
  }
  body .slide {
    top: 100px;
    bottom: 0;
  }
  body .responsive {
    display: block;
    height: 100%;
  }
  body .responsive header {
    background-color: #474747;
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    z-index: 30;
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  }
  body .responsive header .logo {
    margin-left: 15px;
    border: 5px solid white;
    border-radius: 5px;
    width: 140px;
    height: 70px;
    color: white;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    font-family: sans-serif;
    letter-spacing: 3px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .responsive header .hamburger-icon {
    height: 50px;
    width: 50px;
  }
  body .responsive header .hamburger-icon .active {
    color: #be0404;
  }
  body .responsive header .hamburger-icon label i {
    cursor: pointer;
    color: white;
    font-size: 40px;
    position: absolute;
    right: 15px;
    z-index: 30;
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
  }
  body .responsive header .hamburger-icon label i:hover {
    color: #be0404;
  }
  body .responsive main {
    margin-top: 5vh;
    margin-bottom: 5vh;
    height: auto;
    width: 100%;
  }
  body .responsive main .content-area {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .responsive main .content-area .image-container {
    padding-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 200px;
    border-radius: 100%;
  }
  body .responsive main .content-area .image-container .user-image {
    background-image: url(/homepage/images/cinese.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    -o-object-fit: cover;
       object-fit: cover;
    background-position: center;
    width: 200px;
    height: 100%;
    border-radius: 100%;
  }
  body .responsive main .profile-section {
    padding: 20px;
  }
  body .responsive main .profile-section .profile h1 {
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Poppins', sans-serif;
    line-height: 2.3rem;
    margin-bottom: 30px;
  }
  body .responsive main .profile-section .profile h1 span {
    color: #be0404;
    font-size: 2.5rem;
  }
  body .responsive main .profile-section .profile h5 {
    font-size: 1.5rem;
    margin-bottom: 30px;
  }
  body .responsive main .profile-section .profile p {
    color: #1f1f1f;
    font-weight: 300;
    line-height: 1.4;
    font-size: 18px;
    margin-bottom: 35px;
    text-align: justify;
  }
  body .responsive main .profile-section .profile .center-container .button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    text-transform: uppercase;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  body .responsive main .profile-section .profile .center-container .button .primary-btn {
    margin: 35px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #be0404;
    color: white;
    font-size: 1.5rem;
    border-radius: 80px;
    width: 230px;
    height: 2.8rem;
    font-weight: 600;
    letter-spacing: 2px;
    text-decoration: none;
  }
  body .responsive main .profile-section .profile .center-container .button .primary-btn:hover {
    cursor: pointer;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  body .responsive main .profile-section .profile .center-container .button .ghost-btn {
    margin: 35px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: white;
    color: black;
    font-size: 1.5rem;
    border-radius: 80px;
    width: 230px;
    height: 48px;
    border: 4px solid black;
    font-weight: 600;
    letter-spacing: 2px;
    text-decoration: none;
  }
  body .responsive main .profile-section .profile .center-container .button .ghost-btn:hover {
    cursor: pointer;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  body .responsive footer {
    width: auto;
    background: #474747;
    height: auto;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  body .responsive footer span {
    font-size: 30px;
    display: block;
    text-align: center;
    padding-top: 30px;
    color: white;
    font-family: sans-serif;
    font-weight: 600;
  }
  body .responsive footer .icon-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin: 25px;
  }
  body .responsive footer .icon-section i {
    font-size: 30px;
    color: white;
    border-radius: 100%;
    -webkit-transition: hover .2s ease-in-out;
    transition: hover .2s ease-in-out;
  }
  body .responsive footer .icon-section i:hover {
    color: #be0404;
  }
  body .responsive footer p {
    display: block;
    text-align: center;
    font-size: 15px;
    color: gray;
    padding: 10px;
    border-top: 1px solid rgba(202, 202, 202, 0.8);
  }
}
/*# sourceMappingURL=home.css.map */